/dts-v1/;
/ {
    my_led_device {
        compatible = "companyName,my_gpio_led";
        
        /* The prefix "led" maps to your C code */
        led-gpios = <&gpio1 18 GPIO_ACTIVE_HIGH>; 
    };
};